<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Travel Website - Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    </head>
    <style>
        
    </style>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="{% url 'home:home' %}">Travel Website</a>
                <div class = "collapse navbar-collapse">
                    <ul class="navbar-nav ms-auto">
                        {%if user.is_authenticated%}
                            <li class="nav-item"><a class="nav-link" href="{% url 'home:logout' %}">Logout</a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'home:login' %}">Login</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'home:register' %}">Register</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    <div class="bg-info text-white p-3 d-flex justify-content-center">
        <header >
            <h1>Traveloka for Corporates</h1>
            <h5>Arranging corporate travel is now easier, more reliable, and secure.</h5>
            <h5>Traveloka is here to provide you with the best travel services.</h5>
        </header>
    </div>
<div class="container mt-3">
    <div class="row mb-4">
        <div class="col">
            <form method="get" action="{% url 'home:search' %}" >
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="tim kiem khach san hoac ve may bay">
                    <select name="type" class="form-select" style="max-width: 150px;" aria-label="chon loai tim kiem">
                        <option value="hotel">hotel</option>
                        <option value="flight">flight ticket</option>
                    </select>
                    <button class="btn btn-primary" type="submit">search</button>
                </div>
            </form>
        </div>
    </div>

</div>
</div>

    </header>
        
        <script src="" async defer></script>
    </body>
</html>